{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": 0,
    "max-len": [1, 80, 2, { "ignoreComments": true }]
  },
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  }
}
